<!DOCTYPE html>
<html>
<head>
  <title>Mini stores</title>
  <%= stylesheet_link_tag    "erp/mini_stores/application", media: "all" %>
  <%= javascript_include_tag "erp/mini_stores/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
